div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.container{
    display: flex;
}

.schema-colors-td{
    background: lightsteelblue;	
}