<div id="headerSV" [hidden]="isSVHidden"><h1>Annotation Visualizer - System View </h1></div> 
<div id="headerPV" [hidden]="isPVHidden"><h1>Annotation Visualizer - Package View </h1></div> 
<div class="container-fluid">    
    <div class="row">
        <div class="col-sm">
	 
            <button class="btn btn-primary" (click)="selectSystemView()" >System View</button>
            <button class="btn btn-primary" (click)="selectPackageView()">Package View</button>
        </div>
        <div class="col-sm">
            <system-view [hidden]="isSVHidden"></system-view>
            <package-view [hidden]="isPVHidden"></package-view>
        </div>
        <div class="col-sm">
            <schema-table></schema-table>
        </div>
    </div>
</div>
