<div class="container-fluid">
    <h1>Annotation Visualizer</h1>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-primary" (click)="selectSystemView()">System View</button>
            <button class="btn btn-primary" (click)="selectPackageView()">Package View</button>
        </div>
        <div class="col-sm">
            <system-view [hidden]="isSVHidden"></system-view>
            <package-view [hidden]="isPVHidden"></package-view>
        </div>
        <div class="col-sm">
            <schema-table></schema-table>
        </div>
    </div>
</div>