<h1 align='center'>Annotation Visualizer: Visualizing Code Annotations Distribution</h1>
<h1 align='left' id="projectUnderAnalysis">Project Under Analysis:</h1>
<!--<div id="header" view="System" package="" class="" element="" [hidden]="isSVHidden"><h2> </h2></div>-->
<div id="header"></div>
<div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <h1 style = "text-decoration:underline;" id="viewName">{{initialViewName}}</h1>
          <h2 id="elementInfo"></h2>
        </div>
        <div class="col-sm">
          <select (change)="selectViewHandler($event)">
            <option value="systemView">System View</option>
            <option value="packageView">Package View</option>
          </select>
        </div>
      </div>
      <div class="row">
          <system-view [hidden]="isSVHidden"></system-view>
          <package-view [hidden]="isPVHidden"></package-view>
          <class-view [hidden]="isCVHidden" ></class-view>
          <div class="col-1">
            <schema-table></schema-table>
          </div>
      </div>
</div>

