<h2 align='center'>Annotation Visualizer: Visualizing Code Annotations Distribution</h2>
<h2 align='left' id="projectUnderAnalysis">Project Under Analysis:</h2>
<!--<div id="header" view="System" package="" class="" element="" [hidden]="isSVHidden"><h2> </h2></div>-->
<div id="header"></div>
<div class="container-fluid">
      <div class="row">
        <div class="col-sm">
<!--          <h1 style = "text-decoration:underline;" id="viewName">{{initialViewName}}</h1>-->
<!--          <h2 id="elementInfo"></h2>-->
          <svg viewBox="0 0 350 32" xmlns="http://www.w3.org/2000/svg">
            <style>
              .small { font: bold 9px sans-serif; }
              .medium { font: bold 10px sans-serif; }
              .heavy { font: bold 11px sans-serif; }
            </style>
            <text x="0" y="10" style = "text-decoration:underline;" id="viewName" class="heavy">{{initialViewName}}</text>
            <text x="0" y="20" id = "annotMetric" class="medium"></text>
            <text x="0" y="30" id="elementInfo" class="small"></text>
          </svg>
        </div>
        <div class="col-sm" id="SelectViewBox">
          <select (change)="selectViewHandler($event)">
            <option value="systemView">System View</option>
            <option value="packageView">Package View</option>
              <option value="classView">Class View</option>
          </select>
          <button (click)="listProjects()">Get projects</button>
        	<div> </div>

    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>
      </div>
      <div class="row">
          <system-view [hidden]="isSVHidden"></system-view>
          <package-view [hidden]="isPVHidden"></package-view>
          <class-view [hidden]="isCVHidden" ></class-view>
          <div class="col-1">
            <schema-table></schema-table>
          </div>
      </div>
</div>

